
.service__item {
    font-size: 13px;
    height: 180px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(115, 175, 168);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    column-gap: 0.7rem;
    border-radius: 15px;
    cursor: pointer;
    width: 80vh ;
}

.service__item span i {
    font-size: 2rem;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.service__item h3{
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
}
.service__item h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
