.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
}

.registration-header {
  text-align: center;
  padding: 0 0 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-link {
  text-align: center;
}

.login-link span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
