.items-page {
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-width: 200px;
  }
  
  .filter-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .main-content {
    flex: 4;
    padding: 20px;
  }
  
  .search-featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .search-bar {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex: 1;
    margin-right: 10px;
  }
  


  
  .featured-dropdown {
    flex: 0 1 150px;
  }
  
  .featured-dropdown select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
  }
  
  .results-count {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .item-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
  
  .item-card img {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  
  .item-details h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .item-price {
    font-size: 16px;
    font-family: serif;
  }
  
  .item-original-price {
    font-size: 14px;
    text-decoration: line-through;
    color: grey;
  }
  
  @media (max-width: 1200px) {
    .items-page {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 992px) {
    .items-page {
      flex-direction: column;
    }
  
    .sidebar {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .filter-btn {
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  
    .search-featured {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar, .featured-dropdown {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .items-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .search-featured {
        margin-bottom: -60px;
    }
    .item-card img {
        width: 100%;
        height: 120px; 
        object-fit: cover; 
      }
    .filter-btn {
      width: 100%;
    }
  
    .search-featured {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar input {
      width: 100%;
    }
  
    .items-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .search-bar {
        margin-top: -20px;
      }
  }
  .price-range-section {
    display: flex;
    flex-direction: column;
  }
  

  
  .price-range {
    margin-top: 10px;
  }
  
  .price-range .MuiSlider-root {
    margin-top: 10px;
  }
  
  .price-range .MuiTypography-root {
    margin-top: 10px;
  }
  
  @media (max-width: 576px) {
    .items-page {
      padding: 0 10px;
    }
  
    .search-featured {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search-bar, .featured-dropdown {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .items-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  